body {background-color: #bec9c6;color: #616662;}
a {color:#000060; font-weight: bold;}
h1 {color: #2626e4; font-size:16px}
h2 {color: #f05209; font-size:14px}
p {color: #600000; font-size:14px}
button class VK {color:#5e5ee7; font-size:14px}
